@import 'type.css';

 body {
    font-size: 24px;
    line-height: 40px;
    color: #0c0c0c;
    font-family: 'P-T-R';
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    padding: 24px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

ul {
    list-style-type: none;
    text-decoration: none;
  }

a {
cursor: pointer;
color: inherit;
text-decoration: none;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

img.p-logo {
    height: 32px;
    margin-top: 16px;
}

.content {
    margin-top: 128px;
}

.header-links a, .footer a {
    font-size: 12px;
    font-family: 'Akkurat';
    margin-left: 16px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    transition: color ease 0.3s;
}

.header-links a::after, .footer a::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 2%;
    left: 0;
    bottom: 15px;
    background-color: #0c0c0c;
    transition: all ease 0.3s;
}

.logo a::after {
    display: none;
}

header.header {
    display: flex;
    align-items: center;
}

.header-links, .footer-links {
    width: 67%;
    text-align: right;
}

.logo {
    width: 30%;
}

h2 {
    font-size: 24px;
    line-height: 38px;
    font-family: 'P-T-R';
    font-weight: normal;
}

.portfolio {
    margin-top: 140px;
}

.portfolio-list {
    margin-bottom: 140px;
}

h6 {
    font-family: 'Akkurat';
    font-size: 12px;
    text-transform: uppercase;
    color: #888888;
    letter-spacing: 1px;
    font-weight: normal;
}

.portfolio-list h6 {
    margin-bottom: 24px;
}

.portfolio-list h2, .others h2 {
    margin-bottom: 24px;
}

.portfolio-list a, .others a {
    font-size: 15px;
    line-height: 25px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #0c0c0c;
    transition: color ease 0.3s;
    font-family: 'P-T-R';
    font-style: normal;
}

@media only screen and (min-width: 360px) {
    .portfolio-list a .others a {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio-list {
        margin-bottom: 148px;
    }
}

.portfolio-list a::after, .others a::after {
content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 8%;
    left: 0;
    bottom: 8px;
    background-color: #0c0c0c;
    transition: all ease 0.3s;
}

@media only screen and (min-width: 360px) {
    .portfolio-list a::after, .others a::after {
        bottom: 8px;
    }
}

@media only screen and (min-width: 400px) {
    .portfolio-list a::after, .others a::after {
        bottom: 16px;
    }
}

.portfolio-list a:hover::after, .others a:hover::after {
    height: 37%;
}

.portfolio-list a:hover, .others a:hover {
    color: #ffffff;
}

.portfolio-img {
    display: none;
}

.others {
    margin: 140px 0 140px 0;
}

.footer p {
    font-size: 12px;
    font-family: 'Akkurat';
    color: #888888;
    font-style: normal;
}

.copyrite {
    display: none;
}

.logo a {
    margin-left: 0;
}

.footer {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 400px) {
    body {
        padding: 32px;
    }
}

body {
    padding-top: 8px;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 72px;
        padding-top: 24px;
    }

    h2 {
        font-size: 42px;
        line-height: 78px;
    }

    img.p-logo {
        height: inherit;
    }

    .header-links a, .footer a {
        font-size: 15px;
        line-height: 25px;
    }
    .header-links a::after, .footer a::after {
        height: 8%;
        bottom: 6px;
    }

    .portfolio-list a, .others a {
        font-size: 24px;
        line-height: 48px;
        
    }

    .portfolio-list h6, .portfolio-list h2, .others h2 {
        margin-bottom: 40px;
    }

}

@media only screen and (min-width: 1200px) {
    body {
        width: 80vw;
        margin: 0 auto;
    }

    .header-links, .footer-links {
        width: 70%;
    }

    .portfolio-list {
        display: flex;
        align-items: center;
    }

    .portfolio-list {
        display: flex;
        align-items: center;
    }

    .portfolio-img {
        display: block;
        width: 40%;
        text-align: right;
    }

    .advance, .hotels, .toctic {
        width: 60%;
    }

    .portfolio-img img {
        width: 300px;
    }

    .portfolio-list h6, .portfolio-list h2, .others h2 {
        margin-bottom: 72px;
    }

    .portfolio h6 {
        font-size: 15px;
    }

    h2 {
        font-size: 58px;
        line-height: 86px;
        font-family: 'P-H-R';
    }

    .portfolio-list h2 {
        width: 70%;
    }

    .portfolio {
         margin-top: 400px;
    }

    .portfolio-list {
        margin-bottom: 400px;
    }

    .portfolio-img {
    
        text-align: center;
    }

    .portfolio-img.hotels-img img {
        width: 550px;
    }
}

/*--------------------Hotels--------------------*/

section.case-hero {
    margin-top: 72px;
}

h4 {
    font-size: 15px;
    line-height: 25px;
    font-family: 'P-T-R';
    font-weight: normal;
}

.case-intro-desktop {
    display: none;
}

.case-hero p {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Akkurat';
    font-weight: normal;
    color: #0c0c0c;
}

@media only screen and (min-width: 768px) {
    .case-hero p {
        font-size: 15px;
        line-height: 28px;
    }
}

p.intro-meta-title {
    color: #888888;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    p.intro-meta-title {
        font-size: 15px;
        line-height: 28px;
    }
}

p.intro-meta-details {
    margin-bottom: 12px;
}

.case-meta h4 {
    margin-bottom: 24px;
}

.case-hero-img {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.case-hero-img img {
    width: 82vw;
}

.disclaimer {
    margin-top: 40px;
}

.disclaimer p {
    font-size: 12px;
    font-family: 'Akkurat';
    color: #888888;
}

.disclaimer span {
    color: #0c0c0c;
}

section.case-content {
    margin-top: 72px;
}

i {
    color: red;
}
.hotels-background h2, .hotels-challenge h2, .hotels-goals h2, .advance-problem h2, .star, .case-heading h3  {
    margin-bottom: 12px;
}

h3.measure {
    margin-top: 24px;
}

section.case-content p {
    font-size: 15px;
    line-height: 25px;
}


@media only screen and (min-width: 768px) {
    section.case-content p {
        font-size: 18px;
        line-height: 38px;
    }
}

.case-img, .competitive-analysis-img, .hotels-inspiration, .problem-img {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
}

.case-img img, .competitive-analysis-img img, .hotels-inspiration img, .problem-img img {
    width: 85vw;
}

p.img-description {
    font-size: 12px !important;
    line-height: 20px;
    font-family: 'Akkurat';
    color: #888888;
}

.hotels-challenge, .hotels-goals, .hotels-Process, .imagine, .the-stage, .star, .case-heading {
    margin-top: 72px;
}

.case-heading ul.goals-list {
    margin-top: 24px;
}

ul.goals-list li {
    margin-bottom: 24px;
    position: relative;
}

ul.goals-list {
   
    padding-left: 24px;
}

ul.goals-list li::before {
    content: "";
    height: 4px;
    background-color: #0c0c0c;
    position: absolute;
    width: 4px;
    left: -22px;
    top: 7px;
    border-radius: 50px;
}

p.intro-meta-details a {
    color: #0c0c0c;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    ul.goals-list li::before {
        top: 14px;
    }
}

h3 {
    font-size: 20px;
    line-height: 30px;
    font-family: 'P-T-R';
    font-weight: normal;
}

@media only screen and (min-width: 768px) {
    h3 {
        font-size: 28px;
        line-height: 48px;
        font-family: 'P-H-R';
    }
}

.hotels-Process h2, .hotels-discovery h2, .advance-problem h2, .the-stage h2, .case-heading h2 {
    margin-bottom: 24px;
}

.hotels-Process h3, .hotels-discovery h3, .advance-problem h3, .imagine h2, .the-stage h3, .research h2 {
    margin-bottom: 12px;
}

.hotels-discovery span {
    font-family: 'P-H-R';
    letter-spacing: .8px;
}

.hotels-discovery h4 {
    font-family: 'Akkurat';
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 20px;
}

@media only screen and (min-width: 1200px) {

    .case-intro-mobile {
        display: none;
    }
    .case-intro-desktop {
        display: block;
        margin-top: 72px;
    }

    .desk-meta {
        display: flex;
    }

    p.intro-meta-title {
        margin-bottom: 12px;
    }

    .case-intro-sub {
        width: 20%;
    }

    .case-intro-title {
        width: 50%;
    }

    .case-meta h2 {
        width: 70%;
    }

    section.case-content {
        width: 40vw;
        margin: auto;
        margin-top: 120px;
    }

    .case-img img, .competitive-analysis-img img, .hotels-inspiration img, .problem-img img {
        width: 40vw;
    }

    .case-hero-img img {
        width: 70vw;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.advance-bank .footer {
    margin-top: 72px;
}

/*
p.first-p-desktop {
    display: none;
}

p {
    margin-bottom: 32px;
}

.link {
position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
}

.link::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 15%;
    left: 0;
    bottom: 8px;
    background-color:#A475F6;
    transition: all ease 0.3s;
  }

  .link.helium::after {
    background-color: #D05249;
  }

  .link.cregital::after {
    background-color: #00baba;
  }

  .link.himhimandher::after {
    background-color: #000000;
  }

  .link.highlightd::after {
    background-color: #FFF128;
  }

  .link.tiwtter::after {
    background-color: #1DA1F2;
  }

  .link.twitter::after {
    background-color: #1DA1F2;
  }

  .link.ig::after {
    background-image:
    linear-gradient(
        to right,
        #D20571, #9607B9
    );
  }

  .link.linkedin::after {
    background-color: #007BB6;
  }

  .link.dribbble::after {
    background-color: #E94C89;
  }

  .link.medium::after {
    background-color: #00C792;
  }

  .link.email::after {
    background-color: #000000;
  }

  .link.email::after {
    height: 78%;
  }

  
  
  .link:hover, .link.email {
    color: white;
  }

  .link.highlightd:hover {
    color: #0c0c0c;
  }

  .link:hover::after {
      height: 75%;
    }

@media only screen and (min-width: 768px) {
    body {
        padding: 72px;
        font-family: 'TiemposHeadline-Regular'
    }

    p {
        font-size: 42px;
        line-height: 1.6;
        margin-bottom: 48px;
    }

    img.logo {
        height: 60px;
    }

    .link::after {
        bottom: 13px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 80vw;
        margin: 0 auto;
    }

    p {
        font-size: 58px;
        line-height: 86px;
        margin-bottom: 72px;
    }

    .link::after {
        bottom: 14px;
    }

    .content {
        margin-top: 200px;
    }

    .link:hover::after {
        height: 78%;
    }

    [tooltip] {
        position: relative;
        z-index: 100;
        width: 20%;
    }
/*
    [tooltip]::before {
        content: "";
        position: absolute;
        top: 36px;
        left: 25.85rem;
        transform: translateX(-50%);
        border-width: 5px 6px 0px 6px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
        z-index: 100;
        opacity: 1;
        transition: all .3s ease-out;
        transform: rotate(90deg);
    }*/

    /*
    [tooltip]::after {
        content: attr(tooltip);
        position: absolute;
        left: 32rem;
        top: 63px;
        transform: translateX(-50%) translateY(-100%);
        background: #777;
        text-align: center;
        color: #fff;
        padding: 4px 20px;
        font-size: 16px;
        min-width: 80px;
        border-radius: 13px;
        pointer-events: none;
        opacity: 0;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
        font-family: "Akkurat";
        transition: all .3s ease-out;
    }

    [tooltip]:hover::after {
        opacity: 1;
    }*/
  /*  
}

img.cool_emoji {
    height: 32px;
} */
  