@import 'type.css';

body {
  font-family: "IBMPlexSerif", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  height: 100%;
}
/*
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
}*/

html, body {
  height: 100%;
  width: 100%;
}

/*
@media only screen and (max-width: 1023px) {
  body {
    padding: 0 24px;
  }
}*/

body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1024px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

/****General****/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

/*
/****PreLoader****/
/*
#preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}

#status {
  max-width:48px;
  max-height:48px;
  position: absolute; 
  margin: auto; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0; 
  background:url('../img/load.mp4') center no-repeat;
}
*/


/****Mobile Navigation****/
/*
@media screen and (min-width: 1024px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #000;
    display: none;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-container ul li {
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  .nav-container ul li a {
    padding: 20px;
    display: none;
    color: #fff;
    font-size: 30px;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }

  .nav-open {
    position: fixed;
    right: 24px;
    top: 22px;
    display: block;
    cursor: pointer;
    z-index: 9999;
  }

  .nav-open i {
    display: block;
    width: 28px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    margin-left: 20px;
  }

  .nav-open i:nth-child(1) {
    margin-top: 18px;
    transition: transform 0.3s ease;
  }

  .nav-open i:nth-child(2) {
    margin-top: 6px;
    transition: transform 0.3s ease;
  }

  .nav-open i:nth-child(3) {
    margin-top: 6px;
    transition: transform 0.3s ease;
  }
}

#nav:checked + .nav-open i {
  background: #fff;
}

#nav:checked + .nav-open i:nth-child(1) {
  transform: rotate(45deg) translate(7.5px, 5.5px);
}

#nav:checked + .nav-open i:nth-child(2) {
  transform: translateX(100px);
}

#nav:checked + .nav-open i:nth-child(3) {
  transform: rotate(-45deg) translate(5.5px, -4px);
}

#nav:checked ~ .nav-container {
  z-index: 9990;
  display: block;
}

#nav:checked ~ .nav-container ul li a {
  display: block;
  transform: translateY(0);
}

.hidden {
  display: none;
}

/****Content syle****/
.l-container {
  text-align: center;
  z-index: 9999;
}

.logo {
  width: 48px;
  height: 48px;
  margin-top: 50px;
  z-index: 9999;
}

@media only screen and (max-width: 1023px) {
  .l-container {
    text-align: left;
    position: fixed;
  }

  .logo {
    width: 32px;
    height: 32px;
    margin-top: 32px;
  }
}

.intro {
  position: relative;
  z-index: 1;
  height: 100%;
}

/*#videoDiv {
  width: 100%; 
  height: 360px; 
  position: relative;
}

#videoBlock {
  width: 100%; 
  height: 100%;  
  display: flex;  
  justify-content:center; 
  align-items: center;
}*/

@media only screen and (min-width: 1024px) {
  .intro {
    width: 55vw;
    margin-bottom: 0;
    position: fixed;
    border-right: 1px solid #fff;
  }

  .pagination {
    height: 140px;
    background-color: #000;
    width: 40px;
    position: absolute;
    right: -20px;
    top: 42%;
  }

  .pagination li {
    border: solid 1px rgba(255, 255, 255, 0.25);
    width: 40px;
    margin-bottom: 24px;
  }

  .pagination li:first-of-type {
    border: solid 1px rgb(255, 255, 255);
    margin-top: 30px
  }

  .pagination li:last-of-type {
    margin-bottom: 30px
  }
}

h1 {
  font-size: 70px;
  font-weight: 300;
  line-height: 1.21;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 100%;
  margin: -5% 0 0 -50%;
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 40px;
  }
}

.footer {
  padding: 0 35px 0 35px;
  width: 100%;
  z-index: 1;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .footer {
    bottom: 62px;
    left: 0;
    position: absolute;
    text-align: center;
  }
}

@media only screen and (max-width: 1023px) {
  .footer {
    display: none;
  }
}

.social a {
  font-size: 16px;
  line-height: 1.69;
  color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  margin-right: 16px;

}

@media only screen and (min-width: 1200px) {
  .social a  {
    padding: 24px;
    margin-right: 16px;
  }
}

.content {
  padding: 50px 0px;
  position: relative;
  z-index: 1;
  overflow-y: scroll;
}

@media only screen and (min-width: 1024px) {
  .content {
    width: 45vw;
    left: 55vw;
    padding: 50px 120px;
  }
}

.content-image {
  height: 50%;
}

.content img {
  max-width: 100%;
  z-index: 0;
}

/*.bg1 {
  background: url("../img/passion.png") top no-repeat;
  height: 100%;
  width: 100%;
}*/

.content ul {
  float: left;
  width: 48%;
}

.content ul li {
  font-size: 16px;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.75);
  padding-left: 14px;
  position: relative;
}

.content ul li:before {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #aaa;
  left: 0px;
  top: 4px;
  position: absolute;
  content: '';
}

h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
  margin-bottom: 24px;
  /*margin-top: 45%;*/
}

p {
  font-size: 16px;
  line-height: 1.69;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 40px;
}

p a {
  color: rgb(255, 255, 255);

}

h6 {
  font-size: 12px;
  font-weight: 300;
  line-height: 2.42;
  color: #ffffff;
  opacity: 0.4;
  margin: 100px 0;
}

@media only screen and (max-width : 1023px){
  h6 {
    margin: 20px 0 10px;
  }
}

/****Parallax scrolling effect****/
@media only screen and (max-width : 1023px){
  .cd-section {
    margin-bottom: 250px;
  }

  .cd-section.bg4 {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width : 1024px){
  .cd-section {
    height: 100vh;
  }

  .cd-section > div {
      
  }

  .cd-section > div {
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  [data-hijacking="off"] .cd-section > div {
      opacity: 0;
  }

  .cd-section:first-of-type > div::before {
      display: block;
  }

  [data-hijacking="off"] .cd-section > div {
      opacity: 0;
  }
}


