@import 'type.css';

body {
  font-size: 14px;
  color: #fff;
  background-color: #0c0c0c;
  overflow-x: hidden;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 20px;
}

/*
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
}
*/
html, body {
  height: 100%;
  width: 100%;
}


/****General****/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: red;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

img.desktop-logo {
  display: none;
}

img.mobile-logo {
  height: 32px;
  width: auto;
}

.mobile-nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav {
  width: 100%;
}

h1 {
  font-size: 32px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
}

p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #bbbbbb;
}

section h2 {
  padding-bottom: 24px;
}

h2 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 1.6;
}

.hero {
  text-align: center;
  position: relative;
}

.hero h1 {
  margin-top: 35vh;
}

.bg-img {
  background: url(img/hero-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 260px;
  display: block;
  z-index: 100;
  width: 100%;
  margin: auto;
  left: 5px;
  top: -101px;
  opacity: .4;
}

  @media only screen and (min-width: 360px) {
    .bg-img {
      height: 304px;
      top: -121px;
    }
  }

  @media only screen and (min-width: 375px) {
    .bg-img {
      height: 319px;
      top: -132px;
    }
  }

  @media only screen and (min-width: 400px) {
    .bg-img {
      height: 354px;
      top: -148px;
    }
  }

footer.social {
  display: none;
}

.line {
  height: 100px;
  width: 1px;
  background-color: #fff;
  margin: auto;
  margin-top: 300px;
  opacity: .4;
}

section.about {
  margin-top: 300px;
}

.derek, .optimistic, .playlist, .contact {
  position: relative;
}

.deep-soul {
  background: url(img/deep-soul-derek.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  top: -140px;
}

  @media only screen and (min-width: 360px) {
    .deep-soul {
      height: 325px;
    }
  }
  @media only screen and (min-width: 400px) {
    .deep-soul {
      height: 340px;
      top: -170px;
    }
  }

.optimistic-img {
  background: url(img/optimistic.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  top: -218px;
}

@media only screen and (min-width: 375px) {
  .optimistic-img {
    height: 330px;
    top: -225px;
  }
}

.optimistic, .experience  {
  margin-top: 360px;
}

.experience {
  position: relative;
  margin-top: 450px;
}

.experience-img {
  background: url(img/experience-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  top: -268px;
}

.playlist-img {
  background: url(img/odd-playlist.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  top: -56px;
}

  @media only screen and (min-width: 360px) {
    .playlist-img {
      height: 340px;
      top: -85px;
    }
  }

  @media only screen and (min-width: 375px) {
    .playlist-img {
      height: 350px;
      top: -58px;
    }
  }

  @media only screen and (min-width: 400px) {
    .playlist-img {
      top: -78px;
    }
  }

.contact-img {
  background: url(img/contact.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  top: -180px;
}

.playlist {
  margin-top: 250px;
}

  @media only screen and (min-width: 400px) {
    .playlist {
      margin-top: 300px;
    }
  }

.playlist a {
  color: #1CD05D;
}

.playlist p {
  margin-bottom: 24px;
}

.contact {
  margin-top: 400px;
}

  @media only screen and (min-width: 400px) {
    .contact {
    margin-top: 490px;
    }
  }

.copyrite p {
  font-size: 11px;
}

.copyrite {
  margin-top: 72px;
  margin-bottom: 24px;
  opacity: .5;
}

  @media only screen and (min-width: 375px) {
    .copyrite {
      margin-bottom: 32px;
      margin-top: 132px;
    }
  }

.copyrite a {
  color: inherit;
  opacity: .7;
}

@media only screen and (min-width: 375px) {
  section.about {
    padding: 0 24px 0 24px;
  }

   .optimistic {
    margin-top: 420px;
  }
}

tes {
  padding: 34px;
}

.experience a, .contact a {
  font-size: 24px;
  line-height: 40px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
}

@media only screen and (min-width: 1200px) {
  body {
    display: flex;
    padding: 0;
  }

  .mobile-nav {
    display: none;
  }

  section.hero-content {
    position: fixed;
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, .5);
    height: 100vh;
    padding: 72px;
  }

  section.about {
    width: 50%;
    position: absolute;
    right: 0;
    padding: 8rem;
    padding-top: 220px;
    margin: 0;
  }

  img.desktop-logo {
    display: block;
    width: 32px;
    margin: 0 auto;
  }

  .line {
    display: none;
  }

  footer.social {
    display: block;
  }

  footer.social a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin: 24px;
  }

  .hero h1 {
    font-size: 62px;
    margin-bottom: 40vh;
    margin-top: 30vh;
  }

  .bg-img {
    height: 364;
    top: 140px;
    left: 52px;
  }

  h2 {
    font-size: 32px;
  }

  .derek, .optimistic, .playlist, .contact {
    width: 30vw;
}

p {
  font-size: 18px;
  line-height: 32px;
}
}


