
@font-face {
  font-family: 'InterUI-SemiBold';
  src: url('InterUI-SemiBold.eot?#iefix') format('embedded-opentype'),  url('InterUI-SemiBold.woff') format('woff'), url('InterUI-SemiBold.ttf')  format('truetype'), url('InterUI-SemiBold.svg#InterUI-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
