
@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('SpaceGrotesk-Medium.eot?#iefix') format('embedded-opentype'),  url('SpaceGrotesk-Medium.otf')  format('opentype'),
	     url('SpaceGrotesk-Medium.woff') format('woff'), url('SpaceGrotesk-Medium.ttf')  format('truetype'), url('SpaceGrotesk-Medium.svg#SpaceGrotesk-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
